body {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    max-width: auto;
    margin: 0;
}
body.index {
    background-image: url("26312409790_f01be70cb2_o[1].jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 ;
    color: lightslategray;
}
h1 {
    color: skyblue;;
}
h2 {
    color: black;
}
p {
    font: italic;;
    color: darkgoldenrod;
}
h3 {
    color: darkgray;
}
h4 {
    color: ghostwhite;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}

.navigation li.about {
    display:block;
    margin-right:auto;
    margin-left: 0;
}
