body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    max-width: 900px;
    margin: 0 auto:
}
h1 {
    color: brown;
}
p {
    font: initial;
    color: darkgoldenrod;
}
h3 {
    color: darkgray;
}
h2 {
    color: black;
}
h4 {
    color: ghostwhite;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}

.navigation li.about {
    display:block;
    margin-right:auto;
    margin-left: 0;
}
